p{
	
	color: #333333;
	font-family: Tahoma;
	font-size: 16px;
	font-weight: 700;
}

h1{
    
	text-align: center;
	margin-bottom: 81px;
	line-height: 70px;

}

.img{
	height: 50px;
}
