.container{
	width:1010px;
	margin:auto;
}

img{
	width: 200px;
	height: 200px;
}
    
.block{
	width: 334px;
	display: inline-block;
	text-align: center;
	font-family: "Arial - Bold MT";
	
	}

.pink_benefits{
	color:#fd58b2;
}



h1{
	width: 350px;
	margin: auto;
	
}

p{
	text-align: center;
	width: 330px;
	height: 59px;
	color: #393939;
	font-family: "Arial - Bold MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;	
}



